.pink{
	background: pink;
	color: #fff;
}
.pink .resume {
	max-width: 800px;
	margin: 0 auto;
}

.pink .resume>section>h1,
.pink .resume>section>h2 {
	text-align: center;
	margin: 30px 0;
	font-size: 20px;
}

.pink .resume .profile .info,
.pink .resume .profile .job {
	text-align: center;
}

.pink .resume .skills {}

.pink .resume .skills ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.pink .resume .skills ul li {
	width: 49%;
	padding: 10px;
	background: rgba(0, 0, 0, .5);
	border-radius: 10px;
	color: #fff;
	margin: 10px 0;
	box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.4);
	position: relative;
}
.pink .resume .del{
	position: absolute;
	top: 4px;
	right: 8px;
	cursor: pointer;
	width: 20px;
	height: 
}
.pink .resume .add{
	text-align: center;
	margin: 10px 0;
}
.pink .resume .add button{
	border: 1px solid #7F7F7F;
	border-radius: 4px;
	padding: 4px 10px;
	background: #fff;
	font-size: 18px;
	transition: all .3s;
}
.pink .resume .add button:hover{
	background: #7F7F7F;
	color: #fff;
}

.pink .resume .projects ul {}

.pink .resume .projects ul li {
	margin: 20px 0;
	position: relative;
	padding: 20px 15px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.pink .resume .projects ul li header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.pink .resume .projects ul li header div {
	display: flex;
	align-items: center;
}

.pink .resume .projects ul li header div h3 {
	font-size: 17px;
	margin-right: 1em;
}