<!doctype html>
<html lang="zh-Hans">

	<head>
		<meta charset="UTF-8">
		<title>在线简历编辑</title>
		
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
		<link rel="stylesheet" type="text/css" href="css/resume.css"/>
		<link rel="stylesheet" type="text/css" href="css/editable-span.css"/>
		<link rel="stylesheet" type="text/css" href="css/login.css"/>
		<link rel="stylesheet" type="text/css" href="css/signUp.css"/>
		<link rel="stylesheet" type="text/css" href="css/share.css"/>
	</head>

	<body>
		<div id="app" class="page">
			<aside v-show="mode === 'edit'">
				<ul>
					<li>
						<button type="button" @click="onClickSave">
							<svg class="icon">
							    <use xlink:href="#icon-save"></use>
							</svg>保存
						</button>
					</li>
					<li>
						<button type="button" @click="shareVisible = true">
							<svg class="icon">
							    <use xlink:href="#icon-share"></use>
							</svg>分享
						</button>
					</li>
					<li>
						<button type="button">
							<svg class="icon">
							    <use xlink:href="#icon-print"></use>
							</svg>打印
						</button>
					</li>
					<li>
						<button type="button">
							<svg class="icon">
							    <use xlink:href="#icon-changeskin"></use>
							</svg>换肤
						</button>
					</li>
				</ul>
				<button type="button" @click="logOut" v-show="!!currentUser.objectId">
					<svg class="icon">
					    <use xlink:href="#icon-logout"></use>
					</svg>登出
				</button>
			</aside>
			<main>
				<div class="resume">
					<section class="profile">
						<h1>	
							<editable-span :disabled="mode === 'preview'" v-bind:value="displayResume.name" v-on:edit="onEdit('name', $event)"></editable-span>
						</h1>
						<p class="job">应聘职位 : <editable-span :disabled="mode === 'preview'" v-bind:value="displayResume.job" v-on:edit="onEdit('job', $event)"></editable-span></p>
						<p class="info">
							<editable-span :disabled="mode === 'preview'" v-bind:value="displayResume.birthday" v-on:edit="onEdit('birthday', $event)"></editable-span>
							|
							<editable-span :disabled="mode === 'preview'" v-bind:value="displayResume.gender" v-on:edit="onEdit('gender', $event)"></editable-span>
							|
							<editable-span :disabled="mode === 'preview'" v-bind:value="displayResume.email" v-on:edit="onEdit('email', $event)"></editable-span>
							|
							<editable-span :disabled="mode === 'preview'" v-bind:value="displayResume.phone" v-on:edit="onEdit('phone', $event)"></editable-span>
						</p>
					</section>
					<section class="skills">
						<h2>技能</h2>
						<ul>
							<li v-for="skill,index in displayResume.skills">
								<editable-span :disabled="mode === 'preview'" v-bind:value="skill.name" v-on:edit="onEdit(`skills[${index}].name`, $event)"></editable-span>
								<p>
									<editable-span :disabled="mode === 'preview'" :value="skill.description" @edit="onEdit(`skills[${index}].description`, $event)"></editable-span>
								</p>
								<span class="del" v-if="index>3 && mode === 'edit'" @click="delSkill(index)">
									<svg class="icon">
										<use xlink:href="#icon-close"></use>
									</svg>
								</span>
							</li>
						</ul>
						<div class="add" v-if="mode === 'edit'"><button type="button" @click="addSkill">添加技能</button></div>
					</section>
					<section class="projects">
						<h2>项目介绍</h2>
						<ul>
							<li v-for="project,index in displayResume.projects">
								<header>
									<div>
										<h3 class="name">
											<editable-span :disabled="mode === 'preview'" :value="project.name" @edit="onEdit(`projects[${index}].name`, $event)"></editable-span>
										</h3>
										<a class="link" :href="project.link">
											<editable-span :disabled="mode === 'preview'" :value="project.link" @edit="onEdit(`projects[${index}].link`, $event)"></editable-span>
										</a>
									</div>	
									<span class="keywords">
										<editable-span :disabled="mode === 'preview'" :value="project.keywords" @edit="onEdit(`projects[${index}].keywords`, $event)"></editable-span>
									</span>
								</header>
								<p class="description">
									<editable-span :disabled="mode === 'preview'" :value="project.description" @edit="onEdit(`projects[${index}].description`, $event)"></editable-span>
								</p>
								<span class="del" @click="delProject(index)" v-if="index>1 && mode === 'edit'">
									<svg class="icon">
										<use xlink:href="#icon-close"></use>
									</svg>
								</span>
							</li>
						</ul>
						<div class="add" v-if="mode === 'edit'"><button @click="addProject">添加项目</button></div>
					</section>
				</div>
			</main>
			
			<div class="login" v-show="loginVisible" v-cloak>
				<form class="form" @submit.prevent="onLogin">
					<h2>登录</h2>
					<button type="button" @click="loginVisible = false">关闭</button>
					<div class="row">
						<lable>邮箱</lable>
						<input type="text" v-model="login.email" />
					</div>
					<div class="row">
						<lable>密码</lable>
						<input type="password" v-model="login.password" />
					</div>
					<button type="submit">提交</button>
					<a href="#" @click="signUpVisible=true; loginVisible=false">注册</a>
				</form>				
			</div>
			<div class="signUp" v-show="signUpVisible" v-cloak>
				<form class="form" @submit.prevent="onSignUp">
					<h2>注册</h2>
					<button type="button" @click="signUpVisible = false">关闭</button>
					<div class="row">
						<lable>邮箱</lable>
						<input type="text" v-model="signUp.email" />
					</div>
					<div class="row">
						<lable>密码</lable>
						<input type="password" v-model="signUp.password" />
					</div>
					<button type="submit">提交</button>
					<a href="#" @click="signUpVisible=false; loginVisible=true">登录</a>
				</form>				
			</div>
			<div class="share" v-show="shareVisible" v-cloak>
				<div class="share-con">	
					<h3>请将下面链接分享给面试官</h3>
					<textarea readonly>{{shareLink}}</textarea>
				</div>
			</div>
		</div>
		<script src="../vendors/av-min.js"></script>
		<script src="js/av.js"></script>
		<script src="//at.alicdn.com/t/font_678098_jbtx44xi72bxd2t9.js"></script>
		<script src="../vendors/vue.min.js"></script>
		<script src="js/editable-span.js"></script>
		<script src="js/app.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>